

@{
    ViewData["Title"] = "Khôi phục mật khẩu";
    Layout = null;
}

<h2>Khôi phục mật khẩu của bạn</h2>

<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td> Nhập Email liên kết tài khoản của bạn : </td>
            <td>
                @Html.TextBox("ConfirmEmail")
                <span style="color:red; font-style:italic"> @ViewData["Loi1"] </span>
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="Submit" value="Gửi xác minh" />
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Trở về", "Dangnhap")
</div>


